.fcontainer{
    background-color: #e8dfc5;
    height: 800px;
    width: 100%;

}
.fmainblock{
    display: flex;
}
.fheading{
    font-size: 30px;
    padding: 40px;
    margin-top: 30px;
    padding-bottom: 80px;
    font-family: 'Audiowide', sans-serif; 
     

}
.fblock2{
    word-spacing: 13px;
    font-family: 'Audiowide', sans-serif; 

}
.fpara{
    margin-top: 60px;
    padding: 50px;
    font-size: 25px;
}
.fblock2{
   margin-left: 3rem;
   margin-top: -12px;
   padding: 50px;
   font-size: 20px;
   padding-left: 10px;
}
.bigbox{
    width: 800px;
    height: 500px;
    
    position: absolute;
    margin-top: 13rem;
    margin-left: 34rem;
}
.hr{
    width: 90%;
    height: 3px;
    color: solid black;
    background-color: black;
    border: none;
}
.labels{
    padding-top: 17px;
    padding-left: 100px;
}
.font{
    font-size: 40px;
    font-family: 'Audiowide', sans-serif; 
}
