

  
*{
    margin-top: 0px;
}
.navbar{
    margin-top: 40px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;

}
.navbar ul{
    text-align: center;
}
.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 32px 60px;
    
    
}
#tag{
    color: #E2DBD3;
    text-decoration: none;
}
